<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>3D Effects</title>

    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <div class="container">
      <div class="threeD-element" id="ThreeDCard">
        <div class="face front">
          <div class="card">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse commodi
            tempore rem asperiores nostrum sunt libero consequuntur voluptatum
            aperiam corrupti.
          </div>
        </div>
        <div class="face back"></div>
        <div class="face right"></div>
        <div class="face left"></div>
        <div class="face top"></div>
        <div class="face bottom"></div>
      </div>
    </div>
  </body>
</html>
