* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  font-family: 'Lato', sans-serif;
  font-size: 10px;
}

.container {
  width: 100%;
  max-width: 200px;
}

.threeD-element {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  transform-style: preserve-3d;
  transition: transform 500ms ease-out;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #f1f1f1;
  backface-visibility: visible;

  .card {
    pointer-events: none;
    padding: 32px 16px;
    background-color: #f1f1f1;
  }
}

.back {
  transform: translateZ(-16px);
}

.right,
.left,
.top,
.bottom {
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba($color: #000, $alpha: 0.25);
  }
}

.right {
  width: 16px;
  right: 0;

  transform: translate3d(50%, 0, -8px) rotateX(0deg) rotateY(90deg);
}

.left {
  width: 16px;
  left: 0;

  transform: translate3d(-50%, 0, -8px) rotateY(90deg);
}

.top,
.bottom {
  width: 100%;
  height: 16px;
  left: 0;
}

.top {
  top: 0;
  transform: translate3d(0, -50%, -8px) rotateX(90deg);
}

.bottom {
  bottom: 0;
  transform: translate3d(0, 50%, -8px) rotateX(90deg);
}
