* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  background-color: #363636;
  display: -ms-grid;
  display: grid;
  place-content: center;
  font-family: sans-serif;
}

.box {
  height: 100vh;
  width: 500px;
  background-color: #f5f5f5;
}

.box ul {
  list-style: none;
  padding: 0;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.box__one button {
  height: 6rem;
  width: 6rem;
  border: none;
  border-radius: 50%;
  -webkit-box-shadow: 0px 10px 5px gray;
          box-shadow: 0px 10px 5px gray;
  background-color: crimson;
  -webkit-transform: rotateX(45deg);
          transform: rotateX(45deg);
  cursor: pointer;
  color: #f5f5f5;
  -webkit-transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: transform, box-shadow;
  transition-property: transform, box-shadow, -webkit-transform, -webkit-box-shadow;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.box__one button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.box__two {
  background-color: #f6f1d1;
}

.box__two button {
  position: relative;
  width: 5rem;
  height: 2.4rem;
  border: none;
  border-radius: 0.6rem;
  display: block;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  font-weight: bolder;
  color: #6ea38d;
  border: 1px solid #6aa389;
  background-color: #cfffea;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0, 0, 1, 1);
  transition: -webkit-transform 0.1s cubic-bezier(0, 0, 1, 1);
  transition: transform 0.1s cubic-bezier(0, 0, 1, 1);
  transition: transform 0.1s cubic-bezier(0, 0, 1, 1), -webkit-transform 0.1s cubic-bezier(0, 0, 1, 1);
}

.box__two button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 99%;
  display: block;
  border-radius: inherit;
  border: 1px solid rgba(106, 163, 137, 0.315);
  -webkit-box-shadow: 0px 10px 1px #6ba389;
          box-shadow: 0px 10px 1px #6ba389;
  background-color: #98e7c4;
  -webkit-transform: translate3d(-1px, -0.2rem, -1rem);
          transform: translate3d(-1px, -0.2rem, -1rem);
  -webkit-transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: transform, box-shadow;
  transition-property: transform, box-shadow, -webkit-transform, -webkit-box-shadow;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 1, 1);
          transition-timing-function: cubic-bezier(0, 0, 1, 1);
}

.box__two button:hover {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.box__two button:focus {
  outline: none;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.box__two button:active {
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

.box__two button:active::before {
  -webkit-box-shadow: 0 2px 1px #6ba389;
          box-shadow: 0 2px 1px #6ba389;
  -webkit-transform: translate3d(-1px, -0.7rem, -1rem);
          transform: translate3d(-1px, -0.7rem, -1rem);
}

.box__three {
  height: 6rem;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.box__three .svg-icon,
.box__three a {
  width: 2rem;
  height: 2rem;
}

.box__three .svg-icon path,
.box__three .svg-icon polygon,
.box__three .svg-icon rect {
  fill: #2e353b;
}

.box__three .svg-icon circle {
  stroke: #2e353b;
  stroke-width: 1;
}

.box__three article {
  position: relative;
  height: 3.4rem;
  width: 12rem;
  overflow: hidden;
  border-radius: 1.8rem;
}

.box__three article:hover h2,
.box__three article:focus h2,
.box__three article:focus-within h2 {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.box__three article:hover a,
.box__three article:focus a,
.box__three article:focus-within a {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@-webkit-keyframes social-media-button {
  25% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes social-media-button {
  25% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.box__three article a:focus {
  -webkit-animation: social-media-button 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) backwards;
          animation: social-media-button 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) backwards;
}

.box__three h2 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: inherit;
  height: 100%;
  font-size: 0.8rem;
  font-weight: 400;
  color: #f5f5f5;
  border-radius: inherit;
  background-color: #2f3438;
  z-index: 10;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.box__three .content {
  position: absolute;
  height: 100%;
  width: inherit;
  border-radius: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #e1e6eb;
  z-index: 0;
}

.box__three .content a {
  -webkit-transform: translateX(-400%);
          transform: translateX(-400%);
  opacity: 0;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.box__three .content > :nth-child(1) {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 1.2s;
          transition-duration: 1.2s;
}

.box__three .content > :nth-child(2) {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.box__three .content > :nth-child(3) {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.box__three .content > :nth-child(4) {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.box__four {
  height: 22rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #0f1923;
}

.box__four .button__field {
  position: relative;
  width: 256px;
  height: 70px;
  border: 1px solid #f5f5f5;
  padding: 0.4rem;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.box__four .button__field::before {
  content: "";
  position: absolute;
  width: 105%;
  height: 0.8rem;
  background-color: #0f1923;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: -1;
}

.box__four > :nth-child(1) button {
  color: #ff4655;
  background-color: transparent;
}

.box__four > :nth-child(2) button {
  color: #0f1923;
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}

.box__four > :nth-child(3) button {
  color: #f5f5f5;
  border-color: #f5f5f5;
  background-color: transparent;
}

.box__four button {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #ff4655;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  font-size: 1.2rem;
  font-weight: bold;
  overflow: hidden;
}

.box__four button::before {
  content: "";
  position: absolute;
  width: 130%;
  height: 105%;
  background-color: #ff4655;
  -webkit-transform: translate(-150%, -50%);
          transform: translate(-150%, -50%);
  top: 50%;
  left: 50%;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: -webkit-transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-clip-path: polygon(0 0, 100% 0%, 80% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0%, 80% 100%, 0 100%);
}

.box__four button:hover::before, .box__four button:focus::before {
  -webkit-transform: translate(-40%, -50%);
          transform: translate(-40%, -50%);
}

.box__four button:hover, .box__four button:focus {
  outline: none;
  color: #f5f5f5;
  border-color: #ff4655;
}
/*# sourceMappingURL=main.css.map */