* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  background-color: #363636;
  display: grid;
  place-content: center;

  font-family: sans-serif;
}

.box {
  height: 100vh;
  width: 500px;
  background-color: #f5f5f5;

  ul {
    list-style: none;
    padding: 0;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

.box__one {
  button {
    height: 6rem;
    width: 6rem;

    border: none;
    border-radius: 50%;
    box-shadow: 0px 10px 5px gray;
    background-color: crimson;
    transform: rotateX(45deg);

    cursor: pointer;
    color: #f5f5f5;

    transition-property: transform, box-shadow;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;

    &:hover {
      transform: scale(1.2);
      box-shadow: none;
    }
  }
}

.box__two {
  height: 5rem;
  background-color: #f6f1d1;

  button {
    position: relative;
    width: 5rem;
    height: 2.4rem;
    border: none;
    border-radius: 0.6rem;
    display: block;
    transform-style: preserve-3d;

    font-weight: bolder;
    color: rgb(110, 163, 141);

    border: 1px solid rgb(106, 163, 137);
    background-color: rgb(207, 255, 234);
    cursor: pointer;

    transition: transform 0.1s cubic-bezier(0, 0, 1, 1);

    &::before {
      content: "";

      position: absolute;
      width: 100%;
      height: 99%;
      display: block;

      border-radius: inherit;
      border: 1px solid rgba(106, 163, 137, 0.315);

      box-shadow: 0px 10px 1px #6ba389;
      background-color: rgb(152, 231, 196);

      transform: translate3d(-1px, -0.2rem, -1rem);
      transition-property: transform, box-shadow;
      transition-duration: 0.1s;
      transition-timing-function: cubic-bezier(0, 0, 1, 1);
    }

    &:hover {
      transform: translateY(4px);
    }

    &:focus {
      outline: none;
      transform: translateY(4px);
    }

    &:active {
      transform: translateY(12px);
      &::before {
        box-shadow: 0 2px 1px #6ba389;
        transform: translate3d(-1px, -0.7rem, -1rem);
      }
    }
  }
}

.box__three {
  height: 6rem;
  display: grid;
  place-content: center;

  .svg-icon,
  a {
    width: 2rem;
    height: 2rem;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #2e353b;
  }
  
  .svg-icon circle {
    stroke: #2e353b;
    stroke-width: 1;
  }

  article {
    position: relative;
    height: 3.4rem;
    width: 12rem;
    overflow: hidden;
    border-radius: 1.8rem;

    &:hover h2,
    &:focus h2,
    &:focus-within h2 {
      transform: translateX(-100%);
    }

    &:hover a,
    &:focus a,
    &:focus-within a {
      opacity: 1;
      transform: translateX(0);
    }

    @keyframes social-media-button {
      25% {
        transform: scale(1.4);
      }

      50% {
        transform: scale(1);
      }

      75% {
        transform: scale(1.4);
      }

      100% {
        transform: scale(1);
      }
    }

    a:focus {
      animation: social-media-button 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) backwards;
    }
  }

  h2 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: 100%;
    font-size: 0.8rem;
    font-weight: 400;
    color: #f5f5f5;

    border-radius: inherit;
    background-color: #2f3438;
    z-index: 10;

    transition: transform 1s ease;
  }

  .content {
    position: absolute;
    height: 100%;
    width: inherit;
    border-radius: inherit;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background-color: #e1e6eb;

    z-index: 0;

    a {
      transform: translateX(-400%);
      opacity: 0;
      transition-timing-function: ease-in-out;
    }

    & > :nth-child(1) {
      transition-property: transform, opacity;
      transition-duration: 1.2s;
    }

    & > :nth-child(2) {
      transition-property: transform, opacity;
      transition-duration: 1s;
    }

    & > :nth-child(3) {
      transition-property: transform, opacity;
      transition-duration: 0.8s;
    }

    & > :nth-child(4) {
      transition-property: transform, opacity;
      transition-duration: 0.6s;
    }
  }
}

.box__four {
  height: 22rem;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #0f1923;

  .button__field {
    position: relative;
    width: 256px;
    height: 70px;
    border: 1px solid #f5f5f5;
    padding: 0.4rem;
    transform-style: preserve-3d;

    &::before {
      content: "";
      position: absolute;
      width: 105%;
      height: 0.8rem;
      background-color: #0f1923;

      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      z-index: -1;
    }
  }

  .btn {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #ff4655;
    transform-style: preserve-3d;

    font-size: 1.2rem;
    font-weight: bold;
    overflow: hidden;

    &--primary {
      color: #ff4655;
      background-color: transparent;
    }
  
    &--secondary {
      color: #0f1923;
      background-color: #f5f5f5;
      border-color: #f5f5f5;
    }
  
    &--tertiary {
      color: #f5f5f5;
      border-color: #f5f5f5;
      background-color: transparent;
    }

    &::before {
      content: "";
      position: absolute;
      width: 130%;
      height: 105%;
      background-color: #ff4655;
      transform: translate(-150%, -50%);
      top: 50%;
      left: 50%;
      z-index: -1;
      transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      clip-path: polygon(0 0, 100% 0%, 80% 100%, 0 100%);
    }

    &:hover::before,
    &:focus::before {
      transform: translate(-40%, -50%);
    }

    &:hover,
    &:focus {
      outline: none;
      color: #f5f5f5;
      border-color: #ff4655;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}