* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100%;
  width: 100vw;
  background-color: #363636;
  display: -ms-grid;
  display: grid;
  place-content: center;
  font-family: sans-serif;
}

.box {
  height: 500px;
  width: 500px;
  background-color: #f5f5f5;
}

.box ul {
  list-style: none;
  padding: 0;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.box__one button {
  height: 6rem;
  width: 6rem;
  border: none;
  border-radius: 50%;
  -webkit-box-shadow: 0px 10px 5px gray;
          box-shadow: 0px 10px 5px gray;
  background-color: crimson;
  -webkit-transform: rotateX(45deg);
          transform: rotateX(45deg);
  cursor: pointer;
  color: #f5f5f5;
  -webkit-transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: transform, box-shadow;
  transition-property: transform, box-shadow, -webkit-transform, -webkit-box-shadow;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.box__one button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.box__two {
  background-color: #f6f1d1;
}

.box__two button {
  position: relative;
  width: 5rem;
  height: 2.4rem;
  border: none;
  border-radius: 0.6rem;
  display: block;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  font-weight: bolder;
  color: #6ea38d;
  border: 1px solid #6aa389;
  background-color: #cfffea;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0, 0, 1, 1);
  transition: -webkit-transform 0.2s cubic-bezier(0, 0, 1, 1);
  transition: transform 0.2s cubic-bezier(0, 0, 1, 1);
  transition: transform 0.2s cubic-bezier(0, 0, 1, 1), -webkit-transform 0.2s cubic-bezier(0, 0, 1, 1);
}

.box__two button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 99%;
  display: block;
  border-radius: inherit;
  border: 1px solid rgba(106, 163, 137, 0.315);
  -webkit-box-shadow: 0 8px 1px #6ba389;
          box-shadow: 0 8px 1px #6ba389;
  background-color: #98e7c4;
  -webkit-transform: translate3d(-1px, -0.2rem, -1rem);
          transform: translate3d(-1px, -0.2rem, -1rem);
  -webkit-transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: transform, box-shadow;
  transition-property: transform, box-shadow, -webkit-transform, -webkit-box-shadow;
  -webkit-transition-duration: 0.1s, 0.2s;
          transition-duration: 0.1s, 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 1, 1);
          transition-timing-function: cubic-bezier(0, 0, 1, 1);
}

.box__two button:hover {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.box__two button:focus {
  outline: none;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.box__two button:active {
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

.box__two button:active::before {
  -webkit-box-shadow: 0 2px 1px #6ba389;
          box-shadow: 0 2px 1px #6ba389;
  -webkit-transform: translate3d(-1px, -0.7rem, -1rem);
          transform: translate3d(-1px, -0.7rem, -1rem);
}

.box__three {
  height: 8rem;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.box__three button {
  height: 3.4rem;
  width: 12rem;
  border: none;
  overflow: hidden;
}

.box__three button article {
  width: 100%;
  height: 100%;
  border-radius: 1.8rem;
}

.box__three button h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: inherit;
  height: 100%;
  font-size: 0.8rem;
  font-weight: 400;
  color: #f5f5f5;
  border-radius: inherit;
  background-color: #2f3438;
}

.box__three button .content {
  height: 100%;
  width: inherit;
  border-radius: inherit;
  float: left;
}
/*# sourceMappingURL=main.css.map */