* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

html,
body {
  height: 100vh;
  width: 100vw;
  background-color: #363636;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cards {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.card {
  position: relative;
  height: 400px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.3), 0 0 0 4px #fff;
          box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.3), 0 0 0 4px #fff;
  -webkit-transition: -webkit-box-shadow 0.8s ease-in-out;
  transition: -webkit-box-shadow 0.8s ease-in-out;
  transition: box-shadow 0.8s ease-in-out;
  transition: box-shadow 0.8s ease-in-out, -webkit-box-shadow 0.8s ease-in-out;
}

.card__image {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.8s, -webkit-filter 0.8s;
  transition: -webkit-transform 0.8s, -webkit-filter 0.8s;
  transition: transform 0.8s, filter 0.8s;
  transition: transform 0.8s, filter 0.8s, -webkit-transform 0.8s, -webkit-filter 0.8s;
}

.card .overlay {
  position: absolute;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.45);
  bottom: -5rem;
  right: -12rem;
  z-index: 5;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}

.card .content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1rem;
  opacity: 0;
  color: #212121;
  top: 0;
  right: 0;
  z-index: 10;
  -webkit-transition: opacity 0.8s ease-in;
  transition: opacity 0.8s ease-in;
}

.card .content__age-rating {
  display: block;
  font-size: 2rem;
  text-align: right;
}

.card .content__more {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
}

.card .content__more .more-link {
  width: 200px;
  height: 4rem;
  border: none;
  display: block;
  background-color: #303f9f;
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.card .content__more .more-link:hover {
  -webkit-filter: brightness(125%);
          filter: brightness(125%);
}

.card .content__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 8rem;
  font-size: 1.6rem;
}

.card .content__info h4 {
  font-size: 2.4rem;
  text-align: center;
}

.card .content__info p {
  text-align: center;
}

.card:hover {
  -webkit-box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.3), 0 0 0 4px #3f51b5;
          box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.3), 0 0 0 4px #3f51b5;
}

.card:hover .card__image {
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-transform: rotate(20deg) scale(1.5);
          transform: rotate(20deg) scale(1.5);
}

.card:hover .content {
  opacity: 1;
}

.card:hover .overlay {
  -webkit-transform: scale(5.5);
          transform: scale(5.5);
}
/*# sourceMappingURL=main.css.map */