* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --color-violet: hsl(263, 55%, 52%);
  --color-grayish-blue: hsl(217, 19%, 35%);
  --color-blackish-blue: hsl(219, 29%, 14%);
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(0, 0%, 81%);
  --color-light-grayish-blue: hsl(210, 46%, 95%);
}

html {
  font-size: 62.5%;
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: var(--color-light-grayish-blue);
}

body {
  font-size: 1.6rem;
  padding-top: 8rem;
  padding-bottom: 1rem;
}

.testimonials {
  position: relative;
  padding: 4rem 2.4rem;
}

.testimonial__comment p {
  font-weight: 500;
  line-height: calc(1.6rem * 1.5);
  opacity: 0.85;
}

.testimonial__comment p::before {
  content: '\201C';
}

.testimonial__comment p::after {
  content: '\201D';
}

.testimonial {
  display: block;
  padding: 3.2rem 2.4rem;
  border-radius: 0.8rem;
  margin-bottom: 2.4rem;
  box-shadow: 2px 2px 6px hsla(219, 29%, 14%, 0.3);
}

.testimonials > :nth-child(1) {
  background-image: url('./images/bg-pattern-quotation.svg');
  background-repeat: no-repeat;
  background-position: 80% 0;
}

.testimonial__user a,
.testimonial__tittle,
.testimonial__comment {
  margin-bottom: 1.4rem;
  color: var(--color-white);
}

.testimonial__user a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.user__photo {
  height: 4rem;
  border-radius: 50%;
  border: 0.3rem solid #9265d5;
  margin-right: 2rem;
}

.user__info {
  display: flex;
  flex-direction: column;
}

.user__info > :last-child {
  color: hsla(0, 0%, 81%, 0.5);
}

.user__info > :first-child {
  font-weight: bold;
  font-size: 1.6rem;
  opacity: 0.85;
}

.testimonial__tittle {
  display: block;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: calc(2.4rem * 1.2);

  opacity: 0.85;
  margin: 2.4rem 0;
}

.testimonial--violet {
  background-color: #733fc8;
}

.testimonial--gray {
  background-color: #49556b;
}

.testimonial--dark-gray {
  background-color: #18202d;
}

.testimonial--white {
  background-color: #fff;
}

.testimonial--white .testimonial__user a,
.testimonial--white .testimonial__tittle {
  color: #4a4f5c;
}

.testimonial--white .testimonial__comment {
  color: black;
  opacity: 0.8;
}

.testimonial--white .user__info > :last-child {
  color: #4a4f5c;
  opacity: 0.5;
}

.attribution {
  font-size: 0.8rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.testimonials > :nth-child(1) {
  grid-area: first;
}

.testimonials > :nth-child(2) {
  grid-area: second;
}

.testimonials > :nth-child(3) {
  grid-area: third;
}

.testimonials > :nth-child(4) {
  grid-area: fourth;
}
.testimonials > :nth-child(5) {
  grid-area: fifth;
}

@media (min-width: 750px) {
  .testimonials {
    display: grid;
    grid-gap: 2rem;
    grid-template-areas:
      'first first'
      'second third'
      'fourth fifth';
  }

  .testimonial {
    padding: 4rem 3.2rem;
  }

  @media (min-width: 900px) {
    .testimonials {
      grid-template-areas:
        'first first second'
        'third fourth fourth'
        'fifth fifth fifth';
    }
  }

  @media (min-width: 1100px) {
    .testimonials {
      grid-template-areas:
        'first first second fifth'
        'third fourth fourth fifth';
    }
    .testimonials > :nth-child(5) {
      max-width: 300px;
    }
  }
}
