* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  background-color: #363636;
  font-family: sans-serif;
}

.box > .menu:last-child {
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 25%;
}

.box__toggle {
  display: none;
}

.menu {
  list-style: none;
  background-color: #f5f5f5;
}

.menu__item {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 300px;
  padding-left: 0.2rem;
  border-bottom: 0.3rem solid gray;
  -webkit-transition: border-bottom 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: border-bottom 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  color: #363636;
  cursor: pointer;
}

.menu__item a {
  width: inherit;
  height: inherit;
  font-size: inherit;
  color: inherit;
  display: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  text-decoration: none;
}

.menu__item:hover, .menu__item:focus {
  border-bottom: 0.3rem solid tomato;
  color: tomato;
  outline: none;
}

.menu__item:focus-within .menu--sub,
.menu__item:hover .menu--sub,
.menu__item .menu--sub:hover,
.menu__item .menu--sub:focus-within {
  visibility: visible;
}

.menu--sub {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 1px 1px 4px black;
          box-shadow: 1px 1px 4px black;
  z-index: 10;
  left: 0;
  top: 140%;
  visibility: hidden;
  -webkit-transition: visibility 50ms 0.3s;
  transition: visibility 50ms 0.3s;
}

.menu--sub::after {
  content: "";
  position: absolute;
  border: 0.8rem solid transparent;
  border-bottom-color: #f5f5f5;
  top: 0;
  left: 20%;
  -webkit-transform: translateY(-98%);
          transform: translateY(-98%);
}

.menu--sub a {
  padding: 0.5rem;
}

@media (max-width: 700px) {
  .box {
    position: fixed;
    width: 3.4rem;
    height: 3.4rem;
    overflow: hidden;
    -webkit-transition: height, width, 0.4s;
    transition: height, width, 0.4s;
  }
  .box__toggle {
    width: 3.4rem;
    height: 3.4rem;
    background-color: #f5f5f5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: none;
    padding: 0.8rem 0;
    -webkit-transition: background-color 0.4s;
    transition: background-color 0.4s;
    cursor: pointer;
  }
  .box__toggle span {
    width: 60%;
    height: 0.3rem;
    border-radius: 0.4rem;
    background-color: #363636;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
  }
  .box__toggle:focus {
    outline: none;
  }
  .box > .menu:last-child {
    width: 90%;
    height: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 1.4rem;
    margin: 5rem auto;
    -webkit-box-shadow: 1px 1px 4px black;
            box-shadow: 1px 1px 4px black;
    border-radius: 1rem;
  }
  .box.on {
    width: 100vw;
    height: 100vh;
  }
  .box.on .box__toggle {
    background-color: transparent;
  }
  .box.on .box__toggle span {
    background-color: tomato;
  }
  .box.on .box__toggle span:nth-child(2) {
    opacity: 0;
  }
  .box.on .box__toggle span:first-child {
    -webkit-transform: rotate(45deg) translate(8px, 8px);
            transform: rotate(45deg) translate(8px, 8px);
  }
  .box.on .box__toggle span:last-child {
    -webkit-transform: rotate(-45deg) translate(8px, -8px);
            transform: rotate(-45deg) translate(8px, -8px);
  }
  .box.on > .menu:last-child {
    width: 90%;
    height: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 1.4rem;
    margin: 5rem auto;
  }
}
/*# sourceMappingURL=main.css.map */