:root {
  font-family: 'Public Sans', sans-serif;
  font-size: 60%;

  --color-primary-blue: hsl(233, 26%, 24%);
  --color-primary-green: hsl(136, 65%, 51%);
  --color-primary-cyan: hsl(192, 70%, 51%);
  --color-neutral-blue: hsl(233, 8%, 62%);
  --color-neutral-light-blue: hsl(220, 16%, 96%);
  --color-neutral-light-gray: hsl(0, 0%, 98%);
  --color-neutral-white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 6rem;
  background-color: var(--color-neutral-light-gray);
}

.title {
  color: var(--color-primary-blue);
  font-weight: 400;
}

.content {
  display: block;
  font-size: 1.6rem;
  color: var(--color-neutral-blue);
  padding: 0 2.4rem;
  margin: 1.4rem 0;
}

.logo {
  height: 2rem;
}

.header {
  position: fixed;
  width: 100vw;
  height: 7rem;
  padding: 0.8rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #fff;
  z-index: 2;
  top:0;
}

.header__toggle {
  width: 3.2rem;
  height: 2rem;
}

.header__toggle .one,
.header__toggle .two,
.header__toggle .three {
  width: 100%;
  height: 0.3rem;

  margin-bottom: 0.3rem;
  border-radius: 2rem;
  background-color: var(--color-neutral-blue);
}

.header__ul {
  display: none;
  list-style: none;
  font-size: 1.8rem;
}

.header__button {
  display: none;
}

.section__intro {
  position: relative;
}

.section__background {
  width: 100vw;
}

.section__mockups {
  position: absolute;
  height: 100%;

  top: -120px;
  left: 0;
}

.join__us {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.join__us__title {
  font-size: 4rem;
}

.join__us__button {
  width: 50%;
  height: 5rem;
  border: none;
  border-radius: 4rem;

  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-neutral-white);

  margin-top: 1rem;
  background-image: linear-gradient(45deg, var(--color-primary-green), var(--color-primary-cyan));
}

.section__why__easybank {
  text-align: center;
  margin-top: 12rem;
}

.section__why__easybank > article {
  margin-bottom: 4rem;
}

.section__why__easybank article {
  margin-top: 3.4rem;  
}

.section__why__easybank {
  display: flex;
  flex-direction: column;
}

.because__easybank {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 350px));
  justify-content: center;
  align-items: center;

  list-style: none;
}

.why__easybank__title {
  font-size: 3.4rem;
}

.why__easybank__subtitle {
  font-size: 2rem;
  margin: 1.8rem 0;
}

.latest__articles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 12rem;
}

.latest__articles .latest__item {
  margin-bottom: 5rem;
}

.latest__title {
  font-size: 3.4rem;
  margin-bottom: 2rem;
}

.latest__item {
  width: 90%;
  margin: 0 2rem;

  box-shadow: 2px 2px 6px rgb(206, 206, 206);
  background-color: var(--color-neutral-white);
}

.latest__item,
.latest__item .item__image {
  border-radius: 1rem 1rem 0 0;
}

.latest__item .item__image {
  width: 100%;
}

.latest__item .item__cite {
  font-size: 1.2rem;
  color: var(--color-neutral-blue);
}

.latest__item .item__title {
  margin: 1.4rem 0;
  font-size: 1.8rem;
}

.latest__item .item__content {
  padding: 1.4rem 2.4rem;
}

.latest__item .content__description {
  margin: 0;
  padding: 0;
}

footer {
  background-color: var(--color-primary-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.logo__container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-neutral-white);
  margin-bottom: 1rem;
}

.social__medias {
  display: flex;
  width: 50vw;
  justify-content: space-evenly;
}

.about__us a {
  width: 100%;
  display: block;
  font-size: 1.4rem;
  text-align: center;
  text-decoration: none;
  color: var(--color-neutral-white);
  margin-bottom: 0.8rem;
}

.social__medias,
.about__us,
.request__invite {
  margin: 1rem 0;
  list-style: none;
}

.copyright {
  display: block;
  text-align: center;
  font-size: 1.4rem;
  color: var(--color-neutral-blue);
}

@media (min-width: 600px) {
  .header__toggle {
    display: none;
  }

  .header__ul {
    display: flex;
    justify-content: space-evenly;
    width: 55vw;
  }
}

@media (min-width: 800px) {
  .header__button {
    display: initial;
    width: 12rem;
    height: 4rem;
    font-size: 1.4rem;
    margin: 0 2.6rem;
  }
}

@media (min-width: 750px) {
  .intro__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "join_us intro";
    justify-content: center;
    align-items: center;
  }

  .section__intro {
    width: 100%;
    grid-area: intro;
  }

  .join__us .content {
    padding: 0;
  }
  
  .join__us {
    min-width: 320px;
    margin: 0 3rem;
    align-items: initial;
    text-align: left;
    grid-area: join_us;
    padding: 0 2.4rem;
  }

  .section__background {
    position: relative;
    width: 100%;
    height: 80vh;
    min-width: 430px;
    min-height: 400px;
    
    top: -10%;
    right: -15%;
  }

  .section__mockups {
    height: 60rem;
    min-height: 400px;
    min-width: 500px;

    left: 20%;
    top: -15%;
  }

  

}