* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  --container-max-width: 250px;
}

body {
  height: 100%;
  width: 100vw;
  min-height: 100vh;
  background-color: #696969;
  display: -ms-grid;
  display: grid;
  place-content: center;
  font-family: sans-serif;
}

.cards {
  width: 90vw;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 0;
  overflow-x: scroll;
}

.cards .card-container {
  position: relative;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.cards .card-container:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.cards .card-container:hover ~ .card-container {
  -webkit-transform: translateX(10rem);
          transform: translateX(10rem);
}

.cards .card-container:not(:first-child) {
  margin-left: -10rem;
}

.cards::-webkit-scrollbar {
  height: 1rem;
  background-color: #161a20;
}

.cards::-webkit-scrollbar-thumb {
  background-color: #67c9d1;
}

.card {
  --card-color: #232833;
  position: relative;
  width: 300px;
  height: 500px;
  max-height: 500px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  -webkit-box-shadow: -1rem 0 3rem black;
          box-shadow: -1rem 0 3rem black;
  background-color: var(--card-color);
}

.card > :nth-child(1n) {
  max-width: var(--container-max-width);
}

.card__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 2rem;
}

.card__avatar {
  height: 15rem;
  border-radius: 50%;
  border: 0.5rem solid #161a20;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__user-info {
  width: 100%;
  color: #f5f5f5;
}

.card__user-info .name {
  font-size: 2rem;
  text-align: center;
  margin-top: 1.5rem;
}

.card__user-info .posts-and-likes {
  font-size: 1.4rem;
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5rem auto;
      grid-template-rows: 5rem auto;
}

.card__social-medias {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.card__social-medias .media-link {
  position: relative;
  display: block;
  width: 4.5rem;
  height: 4.5rem;
  display: -ms-grid;
  display: grid;
  place-content: center;
  text-decoration: none;
}

.card__social-medias .media-link::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 1;
  border-radius: 50%;
  background-color: purple;
  z-index: -1;
  -webkit-transition: opacity 350ms, -webkit-transform 0.4s;
  transition: opacity 350ms, -webkit-transform 0.4s;
  transition: transform 0.4s, opacity 350ms;
  transition: transform 0.4s, opacity 350ms, -webkit-transform 0.4s;
}

.card__social-medias .media-link:hover::before {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.card__social-medias .media-link:hover .fab {
  -webkit-transform: scale(2);
          transform: scale(2);
  color: purple;
}

.card__social-medias .fab {
  font-size: 1.5rem;
  color: #f5f5f5;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.card__contact-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button {
  --button-color: #67c9d1;
  position: relative;
  width: 100%;
  height: 4rem;
  max-width: 200px;
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--button-color);
  border: 4px solid var(--button-color);
  background-color: initial;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: pointer;
}

.button.--background-effect {
  overflow: hidden;
}

.button.--background-effect::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 105%;
  bottom: -110%;
  background-color: purple;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  z-index: -1;
}

.button.--background-effect:hover {
  color: #f5f5f5;
  border-color: #f5f5f5;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.button.--background-effect:hover::before {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.button.--background-effect:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.button.--border-effect::before {
  -webkit-clip-path: polygon(100% 90%, 100% 90%, 100% 100%, 100% 100%, 100% 100%, 100% 90%);
          clip-path: polygon(100% 90%, 100% 90%, 100% 100%, 100% 100%, 100% 100%, 100% 90%);
}

.button.--border-effect::after {
  -webkit-clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 98% 100%, 98% 100%, 98% 100%);
          clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 98% 100%, 98% 100%, 98% 100%);
}

.button.--border-effect::before, .button.--border-effect::after {
  --border-width: 8px;
  content: '';
  position: absolute;
  display: block;
  height: calc(100% + var(--border-width));
  width: calc(100% + var(--border-width));
  will-change: clip-path;
  background-color: purple;
  bottom: -4px;
  right: -4px;
  z-index: -1;
}

.button.--border-effect:hover {
  color: purple;
}

@-webkit-keyframes right-side-border {
  0% {
    -webkit-clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 98% 100%, 98% 100%, 98% 100%);
            clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 98% 100%, 98% 100%, 98% 100%);
  }
  50% {
    -webkit-clip-path: polygon(98% 0, 100% 0, 100% 100%, 98% 100%, 98% 4px, 98% 4px);
            clip-path: polygon(98% 0, 100% 0, 100% 100%, 98% 100%, 98% 4px, 98% 4px);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 98% 100%, 98% 4px, 0 4px);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 98% 100%, 98% 4px, 0 4px);
  }
}

@keyframes right-side-border {
  0% {
    -webkit-clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 98% 100%, 98% 100%, 98% 100%);
            clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 98% 100%, 98% 100%, 98% 100%);
  }
  50% {
    -webkit-clip-path: polygon(98% 0, 100% 0, 100% 100%, 98% 100%, 98% 4px, 98% 4px);
            clip-path: polygon(98% 0, 100% 0, 100% 100%, 98% 100%, 98% 4px, 98% 4px);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 98% 100%, 98% 4px, 0 4px);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 98% 100%, 98% 4px, 0 4px);
  }
}

@-webkit-keyframes left-side-border {
  0% {
    -webkit-clip-path: polygon(100% 90%, 100% 90%, 100% 100%, 100% 100%, 100% 100%, 100% 90%);
            clip-path: polygon(100% 90%, 100% 90%, 100% 100%, 100% 100%, 100% 100%, 100% 90%);
  }
  50% {
    -webkit-clip-path: polygon(4px 90%, 100% 90%, 100% 100%, 0 100%, 0 90%, 4px 90%);
            clip-path: polygon(4px 90%, 100% 90%, 100% 100%, 0 100%, 0 90%, 4px 90%);
  }
  100% {
    -webkit-clip-path: polygon(4px 90%, 100% 90%, 100% 100%, 0 100%, 0 0, 4px 0);
            clip-path: polygon(4px 90%, 100% 90%, 100% 100%, 0 100%, 0 0, 4px 0);
  }
}

@keyframes left-side-border {
  0% {
    -webkit-clip-path: polygon(100% 90%, 100% 90%, 100% 100%, 100% 100%, 100% 100%, 100% 90%);
            clip-path: polygon(100% 90%, 100% 90%, 100% 100%, 100% 100%, 100% 100%, 100% 90%);
  }
  50% {
    -webkit-clip-path: polygon(4px 90%, 100% 90%, 100% 100%, 0 100%, 0 90%, 4px 90%);
            clip-path: polygon(4px 90%, 100% 90%, 100% 100%, 0 100%, 0 90%, 4px 90%);
  }
  100% {
    -webkit-clip-path: polygon(4px 90%, 100% 90%, 100% 100%, 0 100%, 0 0, 4px 0);
            clip-path: polygon(4px 90%, 100% 90%, 100% 100%, 0 100%, 0 0, 4px 0);
  }
}

.button.--border-effect:hover::after {
  -webkit-animation: right-side-border 0.5s ease-in forwards;
          animation: right-side-border 0.5s ease-in forwards;
}

.button.--border-effect:hover::before {
  -webkit-animation: left-side-border 0.5s ease-in forwards;
          animation: left-side-border 0.5s ease-in forwards;
}
/*# sourceMappingURL=main.css.map */