* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #282828;
}

.input-block {
  position: relative;
  width: 320px;
}

.textarea-input,
.emoji-list {
  width: 100%;
}

.textarea-input {
  position: relative;
  height: 120px;
  resize: none;
  border: none;
  padding: 0.8rem;
  font-family: sans-serif;
  font-size: 1.4rem;
  padding-bottom: 2.4rem;
}

.emoji-list-container {
  position: absolute;
  width: 100%;
  height: 80px;
  overflow: hidden;
  border-radius: 0 0 8px 8px;

  left: 0;
  right: 0;
  transform: translateY(-1px);
}

.emoji-list {
  width: 100%;
  max-height: 80px;
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: start;

  border-top: 1px solid #ddd;

  background-color: #fff;

  transition: opacity 250ms ease-in;

  scrollbar-width: thin;

  .emoji-item {
    cursor: pointer;
    width: 32px;
    height: 32px;
    border: none;
    background-color: initial;
    transition: background-color 200ms cubic-bezier(0.165, 0.84, 0.44, 1);

    &:hover {
      background-color: rgba($color: #444444, $alpha: 0.25);
    }
  }

  &::after {
    content: '';
    flex: auto;
  }

  &.on {
    visibility: visible;
    opacity: 1;
  }
}

.emoji-toggle {
  cursor: pointer;

  position: absolute;
  border: none;
  padding: 0.8rem;
  background-color: initial;

  color: rgba($color: royalblue, $alpha: 0.8);
  font-size: 1.4rem;
  font-weight: bold;

  bottom: 0;
  transition: color 200ms ease;

  &:hover {
    color: royalblue;
  }
}
