<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="main.css">

  <title>Hexagon Menu</title>
</head>
<body>
  <div class="menu">
    <ul class="menu__section">
      <li class="menu__item">
        <a href="#">WELCOME</a>
        <div class="menu__border"></div>
      </li>
      <li class="menu__item">
        <a href="#">ABOUT</a>
        <div class="menu__border"></div>
      </li>
      <li class="menu__item">
        <a href="#">SERVICES</a>
        <div class="menu__border"></div>
      </li>
      <li class="menu__item">
        <a href="#">RESUME</a>
        <div class="menu__border"></div>
      </li>
    </ul>
    <ul class="menu__section">
      <li class="menu__item">
        <a href="#">WORKS</a>
        <div class="menu__border"></div>
      </li>
      <li class="menu__item">
        <a href="#">TESTIMONIALS</a>
        <div class="menu__border"></div>
      </li>
      <li class="menu__item">
        <a href="#">CONTACT</a>
        <div class="menu__border"></div>
      </li>
    </ul>
  </div>
</body>
</html>