* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  background-color: #f5f5f5;
  font-family: sans-serif;
}

svg {
  width: 1.4rem;
  height: 1.4rem;
  fill: #f5f5f5;
}

.box {
  max-height: 100%;
}

.menu {
  $category-item: 2.4rem;

  width: 300px;
  list-style: none;
  margin: 6rem auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.5rem;

  .category {
    width: 100%;
    overflow: hidden;

    &__title {
      font-size: 1rem;
      color: #f5f5f5;
    }

    &__label {
      height: 4rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1.4rem;
      border: none;

      background-color: dodgerblue;

      cursor: pointer;

      svg {
        transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
      }
    }

    &__content {
      height: 0;
      visibility: hidden;
      overflow: hidden;
      list-style: none;

      transition: height, visibility 0.5s, 0.5s cubic-bezier(0.86, 0, 0.07, 1);

      li {
        height: 1.8rem;
        width: 100%;
        background-color: #363636;
        border-bottom: 1px solid gray;

        cursor: pointer;
      }

      a {
        width: 100%;
        height: 100%;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #f5f5f5;
      }

      li:hover {
        background-color: #aaaaaa;
      }
    }

    &.on svg {
      transform: rotate(180deg);
    }

    &.on .category__content {
      visibility: visible;
    }
  }

  & > .category:not(:last-child) .category__label {
    border-bottom: 1px solid #f5f5f5;
  }
}
